// src/assets/styles/pages/_not-found.scss
// Not found page specific styles

@use "../abstracts" as *;

.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px);
  padding: var(--space-xl) 0;
}